<p id="notice"><%= notice %></p>

<h1>Words</h1>

<% @words.each do |word| %>
  <ul>
    <li><%= link_to word.letters, word_path(word), class: "btn btn-primary" %></li>
  </ul>
<% end %>

<br>

<%= link_to 'New Word', new_word_path %>
