


<div class="container">
  <div class="main_header">
    <div class="row">
      <div> <h2>6 Random Spelling Bee Words</h2></div>
    </div>
  </div>



<div class="container">
  <%= render partial: "cards", locals: {words: @randomwords} %>

</div>

<button type="button" id="refresh" class="btn btn-lg btn-block btn-warning">Get 6 New Words</button>

</div>
